@model List<Producto>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/site1.css">
    <title>Catalogo de Partes</title>


    <div class="contenedor">
        <header>
            <div class="logo">
                <h1>
                    Catálogo de Productos
                </h1>
                <form action="" class="">
                    <input type="text" class="barra-busqueda" id="barra-busqueda" placeholder="Buscar">
                </form>
                <br>
                <div class="categorias" id="categorias" >
                    <a href="#" class="activo">Todo</a>
                    <a href="" class="">Placas Madre</a>
                    <a href="" class="">Tarjetas de Video</a>
                    <a href="" class="">Procesadores</a>
                    <a href="" class="">Perifericos</a>
                    <a href="" class="">Almacenamiento</a>
                    <a href="" class="">+Mas</a>
                </div>
            </div>
        </header>
        <section class="grid" id="grid">
             @foreach (var item in Model)
                {
            
                    @if (item.category == "RAM" || item.category == "ROM")
                    {
                        TempData["etiqueta"] = "almacenamiento";    
                    } 
                    else if (item.category == "Periferico") 
                    {
                        TempData["etiqueta"] = "perifericos";
                    }
                    else if (item.category == "Procesador") 
                    {
                        TempData["etiqueta"] = "procesadores";
                    }
                    else if (item.category == "Tarjeta de Video")
                    {
                        TempData["etiqueta"] = "tarjetas de video";
                    }
                    else
                    {
                        TempData["etiqueta"] = "+mas";
                    }
                       
                        <div class="item" 
                        
                        data-categoria="@TempData["etiqueta"]"
                        data-etiquetas="@item.nameProduct.ToLower(); @item.nameProduct; @TempData["etiqueta"]; @item.category; @item.category.ToLower()">
                            <center>
                            <div class="item-contenido" style="background-color: white">
                                <a  asp-controller="Producto" asp-action="Detail" asp-route-id="@item.ID">
                                <img src="@("imagenes/" + item.rootImageProduct)" style="height: 180px; width: 155px;" >
                                <p>@item.nameProduct</p>
                                </a>
                            </div>

                            </center>
                        </div>
            
                }
        </section>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
    <script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js"></script>
    <script src="js/main1.js"></script>
